<div class="container">
<!-- この記述がcare_recordのshow画面に表示されるコメント入力欄になります -->
<%= form_with(model: [care_record, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <h3>追加記録はこちらから記入</h3>
    <tr><table class="table table-striped table-bordered"></tr>
    <%= form.label :追加情報 %>
    <h4><%= form.text_area :addcontent %></h4>
    </table>  
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>