<h1>介護記録作成プログラム</h1>
<h1><%= Date.current.strftime('%Y年 %m月 %d日') %></h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <h3> 現在 <%= current_user.name %> さんがログインしています </h3> <!-- ここを追加します -->
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <% if current_user.admin? %>
    <h4> 管理者権限があります。利用者の登録、編集、削除と、全ての介護記録の編集、削除ができます。</h4>
  <% end %>
  
  <h3><%= link_to '→スタッフ連絡事項画面へ', staff_infos_path, class: "btn btn-info btn-lg" %></h3>
  <h3><%= link_to "→利用者一覧画面へ", clients_path, class: "btn btn-info btn-lg" %></h3
  <h3><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h3> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> ログインしてください </h2>
  
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-default" %> <!-- 新規登録画面に移行する -->
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-default" %> <!-- ログイン画面に移行する -->
<% end %>
