<div class="container">
<h1>ご利用者様詳細画面</h1>
<tr>
<table class="table table-striped table-bordered" >
<tr>
  <th>お名前:</th> 
  <td><%= @client.name %> 様</td>
</tr>
<tr>
  <th>性別:</th> 
  <td><%= @client.sex %></td>
</tr>
<tr>
  <th>お誕生日:</th> 
  <td><%= @client.born_on %></td>
</tr>
<tr>
  <th>年齢:</th> 
  <td><%= @client.age %></td>
</tr>
<tr>
  <th>情報:</th> 
  <td><%= @client.information %></td>
</tr>

</tr>
</table>
</div>
<%= link_to '利用者様一覧へ', clients_path, class: "btn btn-info" %>

<%= link_to '介護一覧画面に戻る', clients_path, class: "btn btn-info" %>