<%= form_with(model: @care_record, local: true) do |form| %>
  <% if @care_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= @care_record.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @care_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="care_record_content","list-group">
    <%= form.label :実施した日付を入力してください %>
    <%= form.date_field :content_date %>
    <%= form.label :介護記録 %>
    <%= form.text_area :content %>
    <%= form.hidden_field :client_id %>
  </div>

  <div class="field">
  <p>入浴済、体操参加されていればチェックを入れてください</p>
  <% Label.all.each do |label| %>
      <% if action_name == 'new' || action_name == 'create' %>
        <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
        <label><%= label.title %></label>
      <% elsif action_name == 'edit' || action_name == 'update' %>
        <%= form.check_box :label_ids, { multiple: true, checked: @care_record.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
        <label><%= label.title %></label>
      <% end %>
    <% end %>
  </div>
  <%= form.submit %>
<% end %>