<h3>以下の内容で、記録する。</h3>
<%= form_with(model: @care_record, url: care_records_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>本文:<%= @care_record.content %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>