<h1>記録一覧</h1>
<table>
  <tr>
    <th>記録</th>
  </tr>
<% @care_records.each do |care_record| %>
  <tr>
    <td><%= care_record.content %></td>
    <td><%= link_to '詳細を確認する', care_record_path(care_record.id) %></td>
    <td><%= link_to "記録を編集する", edit_care_record_path(care_record.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '記録を削除する', care_record_path(care_record.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to '新しく記録する', new_care_record_path %>