<h1>記録一覧</h1>
<h1><%= Date.current.strftime('%Y年 %m月 %d日') %></h1>
<table>
  <tr>
  <th>記録記入日付</th>
  <th>利用者様名</th>
  <th>内容</th>
  </tr>
<% @care_records.each do |care_record| %>
  <tr>
    <td><%= care_record.content_date %></td>
    <td><%= care_record.client.name %>様</td>
    <td><%= care_record.content %></td>
    <td><% care_record.care_record_labels.each do |care_record_label| %>
      <%= care_record_label.label.title %><br>
    <% end %></td>
    <td><%= link_to '詳細確認', care_record_path(care_record.id) %></td>
    <% if current_user.id == care_record.user_id || current_user.admin? %>
      <td><%= link_to "編集する", edit_care_record_path(care_record.id,edit_care_record_path(care_record)) %></td>
      <td><%= link_to '削除する', care_record_path(care_record.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br>
<td><%= link_to '記録を書く', new_care_record_path(client_id: params[:client_id]), class: "btn btn-info" %></td>
<td><%= link_to '利用者様一覧へ', clients_path, class: "btn btn-info" %></td>