<h1>記録詳細画面</h1>

<p>内容: <%= @care_record.content %></p>

<table class="table">
<p>追加情報あり</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, care_record: @care_record } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, care_record: @care_record } %>
  <%= link_to '編集', edit_care_record_path(@care_record) %> |
  <%= link_to '戻る', care_records_path %>
</table>